/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pysolmysql.iml
/.idea/workspace.xml
/pysolmysql.egg-info/dependency_links.txt
/pysolmysql.egg-info/not-zip-safe
/pysolmysql.egg-info/PKG-INFO
/pysolmysql.egg-info/requires.txt
/pysolmysql.egg-info/SOURCES.txt
/pysolmysql.egg-info/top_level.txt
